<!-- Selling -->
<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Ore By Year</h5>
                    </div>
                </div>
                <div>
                    <div id="chart-ore-year" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Sale By Year</h5>
                    </div>
                </div>
                <div>
                    <div id="chart-sale-year" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Stotckpile HPAL</h5>
                    </div>
                </div>
                <div>
                    <div id="chart-stokpile-hpal" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Stotckpile RKEF</h5>
                    </div>
                </div>
                <div>
                    <div id="chart-stokpile-rkef" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- end row -->