<!doctype html>
<html lang="en">
{% load static %}

<head>
    {% include 'layout/head.html' %}
</head>


<body data-topbar="dark" data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- Herader -->
        {% include 'layout/header.html' %}
        <!-- ========== Left Sidebar Start ========== -->

        {% include 'layout/sidebar.html' %}
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <h4 class="card-title">Sample Type</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div id="success-entry" class="alert alert-success alert-dismissible fade show"
                                        role="alert" style="display: none;">
                                        <i class="uil uil-exclamation-octagon me-2"></i> Data saved successfully.

                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <a class="btn btn-soft-success btn-sm mb-4" href="javascript:void(0)"
                                                id="createNew"> <i class="mdi mdi-plus me-1"></i>Add New
                                            </a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="example" class="table table-striped nowrap table-sm m-0"
                                            style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th class="bg-soft-secondary" width="5%">No</th>
                                                    <th class="bg-soft-secondary" width="10%">Name</th>
                                                    <th class="bg-soft-secondary">Description</th>
                                                    <th class="bg-soft-secondary" width="15%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <!-- Footer -->
            {% include 'layout/footer.html' %}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    {% include 'layout/right.html' %}
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    {% include "layout/js.html" %}

    <script type="text/javascript">
        $(function () {
            /*----- Pass Header Token -----*/
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                }
            });

            /*--- Render DataTable ---*/
            let url = '{% url "sample-type-list" %}';
            var table = $('#example').DataTable({
                'processing': true,
                'serverSide': true,
                'responsive': true,
                'autoWidth': true,
                "ajax": {
                    "url": url,
                    "type": "POST",
                    dataType: 'json',
                },
                columns: [{
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'type_sample',
                    name: 'type_sample'
                },
                {
                    data: 'keterangan',
                    name: 'keterangan'
                },

                {
                    data: null,
                    name: 'action',
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        var editBtn = '<a href="javascript:void(0)" data-toggle="tooltip" data-id="' + row.id + '" data-original-title="Edit" class="edit text-success btn-sm editData"><i class="mdi mdi-pencil font-size-18"></i></a>';
                        var deleteBtn = '<a href="javascript:void(0)" data-toggle="tooltip" data-id="' + row.id + '" data-original-title="Delete" class="text-danger btn-sm deleteData"><i class="mdi mdi-delete font-size-18"></i></a>';
                        return editBtn + ' ' + deleteBtn;
                    }
                },
                ]
            });

            /* Click to New Button */
            $('#createNew').click(function () {
                $('#ajaxModal').modal('show');
                $(".select2").select2({
                    width: '100%',
                    dropdownParent: "#ajaxModal",
                    theme: 'bootstrap-5',
                    placeholder: '--- Select ---',
                });
                $('#saveBtn').val("create-Type");
                $('#action').val("create"); // Set nilai input tersembunyi "action" ke "create"
                $('#id').val('');
                $('#id_method').val('').trigger('change');
                $('#entryForm').trigger("reset");
                $('#modalHeading').html("Add New Data");
                $('#ajaxModal').modal('show');
                $('#duplicateError').hide();
                $('#add-entry').hide();
                $('#methodError').hide();
                $('#saveBtn').html('Submit');
            });

            /* Insert Data */
            $('#saveBtn').click(function (e) {
                e.preventDefault();

                // Validasi type_sample
                var type_sample = $('#type_sample').val().trim();
                if (type_sample === '') {
                    $('#duplicateError').text('The field is required').show();
                    return;
                }
                // Validasi id_method
                var id_method = $('#id_method').val();
                if (id_method === null || id_method.length === 0) {
                    $('#methodError').text('The field is required').show();
                    return;
                }

                // Tampilkan loading text pada tombol
                $(this).html('Sending..');

                // Kirim data ke server melalui AJAX
                $.ajax({
                    url: "{% url 'insert-sample-type' %}",
                    method: "POST",
                    dataType: "json",
                    data: {
                        _method: "POST",
                        type_sample: type_sample,
                        keterangan: $('#keterangan').val(),
                        method_id: id_method
                    },
                    beforeSend: function () {
                        console.log('Sending request:', this);
                    },
                    success: function (data) {
                        // Reset teks pada tombol
                        $('#saveBtn').html('Save Changes');
                        if (data.status === 'success') {
                            $('#duplicateError').hide();
                            $('#methodError').hide();
                            $('#add-entry').hide();
                            $('#ajaxModal').modal('hide');
                            table.draw();
                            // Tampilkan notifikasi sukses
                            $('#success-entry').show();
                            // Sembunyikan notifikasi setelah beberapa detik
                            setTimeout(function () {
                                $('#success-entry').hide();
                            }, 2500); // 2500 milidetik = 2.5 detik

                        } else {
                            alert('Error: ' + data.message);
                            // Handle error, jika perlu
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error:', xhr);
                        // Reset teks pada tombol
                        $('#saveBtn').html('Save Changes');
                        // Clear previous error messages
                        $('#duplicateError').hide();
                        $('#add-entry').hide();
                        $('#methodError').hide();
                        // Handle validation errors
                        if (xhr.status === 500) {
                            $('#add-entry').text(xhr.responseJSON.message).show();
                        } else {
                            alert('Error: ' + xhr.status + ', ' + xhr.responseJSON.message);
                        }
                    }
                });
            });


            /* Click to Edit Button */
            $('#example').on('click', '.editData', function () {
                var id = $(this).data('id');
                var id = $(this).data('id');
                var url = '/sqms_apps/sample-type/get_id/' + id + '/';
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            // Mengisi formulir dengan data yang diterima
                            $('#modalHeading').html("Edit Type");
                            $('#modal-edit').modal('show');
                            $('#error-entry').hide();
                            $('#id_edit').val(response.id);
                            $('#type_sample_edit').val(response.type_sample);
                            $('#keterangan_edit').val(response.keterangan);

                            // Inisialisasi Select2
                            $('#id_method_edit').select2({
                                width: '100%',
                                dropdownParent: "#modal-edit",
                                theme: 'bootstrap-5',
                                placeholder: '--- Select ---',
                            });

                            // Isi Select2 dengan data yang sesuai
                            var selectedMethods = response.details.map(function (detail) {
                                return detail.id_method;
                            });

                            $('#id_method_edit').val(selectedMethods).trigger('change');
                            $('#action').val("edit"); // Set nilai input tersembunyi "action" ke "edit"
                        } else {
                            alert(
                                'Data tidak ditemukan'
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Terjadi kesalahan: ' + error); // Handle kesalahan AJAX
                    }
                });
            });

            /* Update Data */
            $('#update').click(function (e) {
                e.preventDefault();
                // Validasi type_sample
                var type_sample = $('#type_sample_edit').val().trim();
                if (type_sample === '') {
                    $('#typeError').text('The field is required').show();
                    return;
                }
                // Validasi id_method
                var id_method = $('#id_method_edit').val();
                if (id_method === null || id_method.length === 0) {
                    $('#editmethodError').text('The field is required').show();
                    return;
                }
                $(this).html('Sending..');
                // Dapatkan nilai dari input dan select
                var type_sample = $('#type_sample_edit').val();
                var keterangan = $('#keterangan_edit').val();
                var id_method = $('#id_method_edit').val();
                var id = $('#id_edit').val();
                var url = '/sqms_apps/sample-type/update/' + id + '/';
                // Kirim data ke server melalui AJAX
                $.ajax({
                    url: url,
                    method: "POST",
                    dataType: "json",
                    data: {
                        _method: "POST",
                        type_sample: type_sample,
                        keterangan: keterangan,
                        method_id: id_method
                    },
                    success: function (data) {
                        $('#id_method_edit').val('').trigger('change');
                        $('#type_sample_edit').val('');
                        $('#keterangan_edit').val('');
                        $('#id_edit').val('');
                        $('#update').html('Update');
                        $('#modal-edit').modal('hide');
                        $('#typeError').hide();
                        $('#error-entry').hide();
                        $('#editmethodError').hide();
                        table.draw();
                        // Tampilkan notifikasi sukses
                        $('#success-entry').show();
                        setTimeout(function () {
                            $('#success-entry').hide();
                        }, 2500);
                    },
                    error: function (xhr, status, error) {
                        console.log('Error:', xhr);

                        // Clear previous error messages
                        $('#typeError').hide();
                        $('#error-entry').hide();
                        $('#editmethodError').hide();
                        if (xhr.status === 400) {
                            $.each(xhr.responseJSON.message, function (key, value) {
                                // $('#typeError').text(value[0]).show();
                                $('#error-entry').text(value[0]).show();
                                // alert('Error 400: ' + value[0]);
                            });
                        }

                        else if (xhr.status === 403) {
                            // Duplicate data error
                            alert('Error 400: ' + xhr.responseJSON.message);
                            // $('#typeError').text(xhr.responseJSON.message).show();
                        } else {
                            // Other errors
                            alert('Error: ' + xhr.status + ', ' + xhr.responseJSON.message);
                        }
                    }
                });
            });

            /*--- Delete ---*/
            $('#example').on('click', '.deleteData', function () {
                var id = $(this).data('id');
                var url = '{% url "delete-sample-type" %}?id=' + id;
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'btn btn-success',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Delete it!',
                    width: 320,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: url,
                            type: "DELETE",
                            dataType: 'json',
                            data: {
                                id: id,
                            },
                            success: function (data) {
                                table.draw();

                            },
                            error: function (data) {
                                console.log('Error:', data);
                            }
                        });
                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Your file has been deleted.',
                            icon: 'success',
                            width: 320,
                        })
                    }
                })
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'method-dropdown' %}",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var options = '';
                    // Loop melalui data.methods
                    $.each(data.methods, function (index, value) {
                        options += '<option value="' + value.id + '">' + value
                            .sample_method +
                            '</option>';
                    });
                    $('#id_method').html(options);
                    // Inisialisasi Select2 setelah mengisi pilihan
                    $('#id_method').select2();

                    /* for edit */
                    $('#id_method_edit').append(options);
                    // Inisialisasi Select2 setelah mengisi pilihan
                    $('#id_method_edit').select2();
                }
            });
        });
    </script>

    <div class="modal fade" id="ajaxModal" tabindex="-1" aria-labelledby="" aria-modal="true" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog">
            <form method="POST" id="entryForm" name="entryForm" class="form-horizontal">
                @csrf
                @method('POST') <!-- Atau @method('PUT') untuk pembaruan -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalHeading">Form Entry</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="add-entry" class="alert alert-danger alert-dismissible fade show" role="alert"
                            style="display: none;">
                            <i class="uil uil-exclamation-octagon me-2"></i>
                        </div>
                        <input type="hidden" name="action" id="action" value="create">
                        <!-- Atau "edit" saat pembaruan -->
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="type_sample" name="type_sample"
                                    placeholder="Enter Name" value="" maxlength="50">
                                <div class="invalid-feedback" id="duplicateError" style="display: none;"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <textarea id="keterangan" name="keterangan" placeholder="Enter Description"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="id_method" class="control-label text-blue">Method</label>
                                    <select class="form-control select2" id="id_method" name="method_id"
                                        multiple="multiple" style="width: 100%;">
                                        <option value="">--- Select --- </option>
                                    </select>
                                    <div class="invalid-feedback" id="methodError" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm" id="saveBtn" value="create">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        @csrf
        @method('POST') <!-- Atau @method('PUT') untuk pembaruan -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editHeading">Edit Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id_edit" id="id_edit">
                    <div id="error-entry" class="alert alert-danger alert-dismissible fade show" role="alert"
                        style="display: none;">
                        <i class="uil uil-exclamation-octagon me-2"></i>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="type_sample_edit" name="type_sample_edit"
                                placeholder="Enter Name" value="" maxlength="50">
                            <div class="invalid-feedback" id="typeError" style="display: none;"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Description</label>
                                <textarea id="keterangan_edit" name="keterangan_edit" placeholder="Enter Description"
                                    class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="id_method" class="control-label text-blue">Method</label>
                                <select class="form-select" id="id_method_edit" name="id_method_edit"
                                    multiple="multiple" style="width: 100%;">
                                    <option value="">--- Select --- </option>
                                </select>
                                <div class="invalid-feedback" id="editmethodError" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="update">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<style>
    .swal2-styled {
        margin: .3125em;
        padding: .360em 1.1em;
        transition: box-shadow .1s;
        box-shadow: 0 0 0 3px transparent;
        font-weight: 500;
    }

    .swal2-icon {
        position: relative;
        box-sizing: content-box;
        justify-content: center;
        width: 4em;
        height: 4em;
        margin: 2.5em auto .6em;
        border: .25em solid transparent;
        border-radius: 50%;
        border-color: #000;
        font-family: inherit;
        line-height: 5em;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>