<!doctype html>
<html lang="en">
{% load static %}

<head>
    {% include 'layout/head.html' %}
</head>


<body data-topbar="dark" data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- Herader -->
        {% include 'layout/header.html' %}
        <!-- ========== Left Sidebar Start ========== -->

        {% include 'layout/sidebar.html' %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <h4 class="card-title">List Block</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div id="success-entry" class="alert alert-success alert-dismissible fade show"
                                        role="alert" style="display: none;">
                                        <i class="uil uil-exclamation-octagon me-2"></i> Data saved successfully.
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-xl-12">
                                            <a class="btn btn-soft-success btn-sm mb-4" href="javascript:void(0)"
                                                id="createNew"> <i class="mdi mdi-plus me-1"></i>Add
                                            </a>
                                            <a class="btn btn-soft-danger btn-sm mb-4" href="javascript:void(0)"
                                                id="updateMulti">
                                                <i class="mdi mdi-pencil me-1"></i>Status
                                            </a>

                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="listData" class="table table-striped nowrap table-sm m-0"
                                            style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th class="bg-soft-secondary w-1" class=" align-middle" width="3%">

                                                        <input class="form-checkbox" type="checkbox" id="checkAll">
                                                        <label class="form-check-label" for="checkAll"></label>

                                                    </th>
                                                    <th class="bg-soft-secondary" width="6%">No</th>
                                                    <th class="bg-soft-secondary">Name</th>
                                                    <th class="bg-soft-secondary">Description</th>
                                                    <th class="bg-soft-secondary" width="8%">Active</th>
                                                    <th class="bg-soft-secondary" width="10%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <!-- Footer -->
            {% include 'layout/footer.html' %}

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    {% include 'layout/right.html' %}
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    {% include "layout/js.html" %}


    <script>
        $(document).ready(function () {
            let data_url = '{% url "block-list" %}';
            var dataTable = $('#listData').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": data_url,
                    "type": "POST",
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                    },
                },
                columns: [
                    {
                        data: 'id',
                        name: 'id',
                        orderable: false,
                        searchable: false,
                        render: function (data) {
                            return '<div class="form-check font-size-16"><input class="form-check-input" type="checkbox" id="checkRow" data-id="' +
                                data + '"></div>';
                        }
                    },
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }, // Kolom nomor otomatis
                    {
                        name: "mine_block",
                        data: 'mine_block',
                    },
                    {
                        name: "keterangan",
                        data: 'keterangan',
                    },
                    {
                        data: 'status',
                        name: 'status',
                        render: function (data, type, row) {
                            // Ubah nilai status menjadi elemen HTML berdasarkan nilai
                            return data == 1 ?
                                '<div class="badge badge-soft-success font-size-12">Yes</div>' :
                                '<div class="badge badge-soft-warning font-size-12">No</div>';
                        }
                    },
                    {
                        data: 'action',
                        name: 'action',
                        orderable: false, // Menonaktifkan pengurutan untuk kolom ini
                        searchable: false, // Menonaktifkan pencarian untuk kolom ini
                        render: function (data, type, row) {
                            var editBtn = '<a href="javascript:void(0)" data-toggle="tooltip" data-id="' + row.id + '" data-original-title="Edit" class="edit text-success btn-sm editData"><i class="mdi mdi-pencil font-size-18"></i></a>';
                            var deleteBtn = '<a href="javascript:void(0)" data-toggle="tooltip" data-id="' + row.id + '" data-original-title="Delete" class="text-danger btn-sm deleteData"><i class="mdi mdi-delete font-size-18"></i></a>';
                            // console.log('Row Object:', row);
                            // console.log('ID:', row.id);
                            return editBtn + ' ' + deleteBtn;
                        }
                    },
                ],
                // Mengatur default sort pada kolom 
                // order: [
                //     [2, 'asc']
                // ],

            });



            /*-- Click to Button ---*/
            $('#createNew').click(function () {
                $('#saveBtn').val("create-block");
                $('#id').val('');
                $('#entryForm').trigger("reset");
                $('#modelHeading').html("CreateNew Block");
                $('#ajaxModal').modal('show');
                $('#saveBtn').html('Save Changes');
                $('#duplicateError').hide();
            });



            /*--  Create ---*/
            $('#saveBtn').click(function (e) {
                e.preventDefault();
                // Pemeriksaan jika mine_block kosong
                if ($('#mine_block').val().trim() === '') {
                    // alert('Mine block tidak boleh kosong.');
                    $('#duplicateError').text('Block must be filled in').show();
                    return;
                }
                $(this).html('Sending..');
                $.ajax({
                    type: "POST",
                    url: "{% url 'insert-block' %}",
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: $('#entryForm').serialize(),
                    success: function (data) {
                        if (data.status === 'success') {
                            // // alert('Sukses: ' + data.message);
                            // Handle success, jika perlu
                            $('#duplicateError').hide();
                            $('#ajaxModal').modal('hide');
                            table.draw();
                            // Tampilkan notifikasi sukses
                            $('#success-entry').show();

                            // Sembunyikan notifikasi setelah beberapa detik
                            setTimeout(function () {
                                $('#success-entry').hide();
                            }, 2500); // 2500 milidetik = 2.5 detik

                        } else {
                            alert('Error: ' + data.message);
                            // Handle error, jika perlu
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status === 403) {
                            // alert('Error 403: ' + xhr.responseJSON.message);
                            $('#duplicateError').text(xhr.responseJSON.message).show();
                        } else {
                            alert('Error: ' + xhr.status + ', ' + xhr.responseJSON.message);
                        }
                    }
                });
            });


            /*---  Delete ---*/
            $('#listData').on('click', '.deleteData', function () {
                var id = $(this).data('id');
                // console.log('Clicked Delete Button with ID:', id);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'btn-success',  // Perbaiki di sini
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Delete it!',
                    width: 320,
                }).then((result) => {
                    if (result.isConfirmed) {
                        var url = '{% url "delete-block" %}?id=' + id;
                        console.log('Delete URL:', url);

                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            dataType: 'json',
                            headers: {
                                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                            },
                            data: {
                                id: id,
                            },
                            success: function (data) {
                                console.log('Server Response:', data);
                                $("#listData").DataTable().ajax.reload();  // Perbaiki di sini
                                // dataTable.draw();          // Gambar ulang tabel dengan data terbaru

                            },

                            error: function (data) {
                                console.log('Error:', data);
                                console.log(document.cookie);
                            }
                        });
                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Your file has been deleted.',
                            icon: 'success',
                            width: 320,
                        })
                    }
                })
            });



            /*-- Click to Edit Button ---*/
            $('#listData').on('click', '.editData', function () {
                var id = $(this).data('id');
                var url = '/sqms_apps/block/get_id/' + id + '/';
                console.log('gtEdit URL:', url);
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            $('#editModal').modal('show');
                            $('#id').val(data.id);
                            $('#edit_mine_block').val(data.mine_block);
                            $('#edit_keterangan').val(data.keterangan);
                            $('#edit_duplicateError').hide();
                        } else {
                            alert(
                                'Data tidak ditemukan'
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Terjadi kesalahan: ' + error); // Handle kesalahan AJAX
                    }
                });
            });

            /*--- Update---*/
            $('#updateBtn').click(function (e) {
                e.preventDefault();
                var id = $('#id').val();
                var url = '/sqms_apps/block/update_block/' + id + '/';
                if ($('#edit_mine_block').val().trim() === '') {
                    // alert('Mine block tidak boleh kosong.');
                    $('#edit_duplicateError').text('Block filled is required').show();
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "json",
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        mine_block: $('#edit_mine_block').val(),
                        keterangan: $('#edit_keterangan').val(),
                        // status: $('#status').val()
                    },
                    success: function (data) {
                        if (data) {
                            $('#edit_duplicateError').hide();
                            $('#editModal').modal('hide');
                            $("#listData").DataTable().ajax.reload();  // Perbaiki di sini
                            dataTable.clear().draw();  // Hapus isi tabel
                            dataTable.draw()

                            // Tampilkan notifikasi sukses
                            $('#success-entry').show();

                            // Sembunyikan notifikasi setelah beberapa detik
                            setTimeout(function () {
                                $('#success-entry').hide();
                            }, 2500); // 2500 milidetik = 2.5 detik

                        } else {
                            alert('Gagal memperbarui data');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#edit_duplicateError').hide();
                        if (xhr.status === 400) {
                            // alert('Error 400: ' + xhr.responseJSON.message);
                            $('#edit_duplicateError').text(xhr.responseJSON.message).show();
                        } else {
                            alert('Error: ' + xhr.status + ', ' + xhr.responseJSON.message);
                        }
                    }
                });
            });

            $('#updateMulti').on('click', function () {
                var selectedIds = []; // Array untuk menyimpan ID yang dicentang

                // Mendapatkan ID dari checkbox yang dicentang di dalam DataTables
                $('input[type="checkbox"]:checked').each(function () {
                    selectedIds.push($(this).data('id'));
                });


                if (selectedIds.length === 0) {
                    Swal.fire({
                        icon: 'error',
                        title: 'No items selected',
                        text: 'Please select items to update.',
                        width: 320,
                    });
                    return;
                }

                Swal.fire({
                    title: 'Are you sure?',
                    text: "Will update the status!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745', // Menggunakan kelas warna Bootstrap
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Update it !',
                    width: 320,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "",
                            type: "POST",
                            dataType: 'json',
                            data: {
                                ids: selectedIds, // Mengirimkan array ID ke backend
                            },
                            success: function (data) {
                                table.ajax.reload();
                            },
                            error: function (data) {
                                console.log('Error:', data);
                            }
                        });
                        Swal.fire({
                            title: 'Updated!',
                            text: 'Your files have been updated.',
                            icon: 'success',
                            width: 320,
                        });
                    }
                });
            });

        });
    </script>

    <!-- <script>
        // Inisialisasi array untuk menyimpan ID yang dicentang
        var selectedIds = [];

        // Skrip untuk menangani checkbox di setiap baris
        $('#listData').on('change', 'input[type="checkbox"]', function () {
            var id = $(this).data('id'); // Mengambil nilai ID dari atribut data-id

            // Memeriksa apakah checkbox dicentang atau tidak
            if ($(this).prop('checked')) {
                // Menambahkan ID ke dalam array jika checkbox dicentang
                selectedIds.push(id);
            } else {
                // Menghapus ID dari array jika checkbox tidak dicentang
                selectedIds = selectedIds.filter(function (value) {
                    return value !== id;
                });
            }

            // Menampilkan array ID di console
            console.log(selectedIds);
        });

        // Skrip untuk menangani checkbox "checkAll"
        $('#checkAll').change(function () {
            var isChecked = $(this).prop('checked');

            // Mengatur properti checked untuk semua checkbox di dalam DataTables
            $('#listData').find('input[type="checkbox"]').prop('checked', isChecked);

            // Mengosongkan atau mengisi array ID tergantung pada apakah checkbox "checkAll" dicentang atau tidak
            if (isChecked) {
                // Jika "checkAll" dicentang, dapatkan semua ID dari checkbox individual
                selectedIds = $('#listData').find('input[type="checkbox"]').map(function () {
                    return $(this).data('id');
                }).get();
            } else {
                // Jika "checkAll" tidak dicentang, kosongkan array ID
                selectedIds = [];
            }

            console.log(selectedIds);
        });
    </script> -->


    <!-- modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="" aria-modal="true" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog">
            <form class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Update Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name #</label>
                                <input type="text" class="form-control" id="edit_mine_block" name="edit_mine_block"
                                    placeholder="Enter Name" value="" maxlength="50" required="">
                                <div class="invalid-feedback" id="edit_duplicateError" style="display: none;">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <textarea id="edit_keterangan" name="edit_keterangan" required=""
                                        placeholder="Enter Description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-sm" id="updateBtn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="ajaxModal" tabindex="-1" aria-labelledby="" aria-modal="true" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog">
            <form id="entryForm" name="entryForm" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Form Entry</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <input type="hidden" name="id" id="id"> -->

                        <div class="form-group">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name #</label>
                                <input type="text" class="form-control" id="mine_block" name="mine_block"
                                    placeholder="Enter Name" value="" maxlength="50" required="">
                                <div class="invalid-feedback" id="duplicateError" style="display: none;">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <textarea id="keterangan" name="keterangan" required=""
                                        placeholder="Enter Description" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm" id="saveBtn" value="create">Save
                                changes</button>

                        </div>
                    </div>
            </form>
        </div>
    </div>




</body>

</html>