<div class="grid grid-cols-1 gap-3 md:grid-cols-2">
    <div class="h-full">
        <div class="mb-0 flex items-center">
            <h3 class="px-4 text-lg font-normal dark:text-white-light">Ytd - HPAL Grade</h3>
        </div>
        <div class="scrollbar-sm flex space-x-3 overflow-x-auto px-4 pb-3 sm:px-5 mb-4">
            <!-- Card Item -->
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-gray-500 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Ni">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500  dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Ni</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Co">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Co</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Al2O3">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Al2O3</p>
                    </div>
                </div>
            </div>
            <!-- <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Cr2O3">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Cr2O3</p>
                    </div>
                </div>
            </div> -->
            <div class="w-48 shrink-0 rounded-lg bg-slate-150 shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Fe">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Fe</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Mgo">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">MgO</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_SiO2">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">SiO2</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="hpal_Mc">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Mc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Kanan -->
    <div class="h-full">
        <div class="mb-0 flex items-center">
            <h3 class="px-4 text-lg font-normal dark:text-white-light">Ytd - RKEF Grade</h3>
        </div>
        <div class="scrollbar-sm flex space-x-3 overflow-x-auto px-4 pb-3 sm:px-5 mb-4">
            <!-- Card Item -->
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Ni">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Ni</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Co">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Co</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Al2O3">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Al2O3</p>
                    </div>
                </div>
            </div>
            <!-- <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Cr2O3">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Cr2O3</p>
                    </div>
                </div>
            </div> -->
            <div class="w-48 shrink-0 rounded-lg bg-slate-150 shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Fe">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Fe</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Mgo">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">MgO</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_SiO2">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">SiO2</p>
                    </div>
                </div>
            </div>
            <div class="w-48 shrink-0 rounded-lg shadow-md dark:bg-navy-700 mb-2">
                <div
                    class="rounded-lg p-3 border-border-white-dark/20 border-t bg-dark-light p-3 dark:border-[#0e1726] dark:bg-[#191e3a]">
                    <div class="flex items-center justify-between">
                        <p class="text-xl font-semibold text-slate-700 dark:text-navy-100" id="rkef_Mc">0</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 dark:text-accent"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path
                                d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z">
                            </path>
                        </svg>
                    </div>
                    <div class="mt-2 flex items-end justify-between">
                        <p class="mt-1 text-xs font-medium text-slate-500 dark:text-slate-300">Mc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>